/*grid layout*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(255, 255, 255);
    padding: none;
    grid-gap: none;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /*border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: none;
    font-size: 30px;
    text-align: center;
  }

/*navigation bar*/ 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:#A78D8A;
    color: #FDF6F2;
  }
  /*current link color */
  .active {
    background-color: #EEB9A2;
  }
  @media screen and (max-width: 600px) {
    li,
    li a {float: none;}
  }

/* image */
img {
    width: 100%;
    height: auto;
 }
 .grid-item {
    width: auto;
    height: auto;
 }

/*overlay effect */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    transition: .5s ease;
    background-color: #89B2BB;
  }
  .container {
      position:relative;
      width:100%;    
  }
  .container:hover .overlay {
    opacity: 1;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

/* top button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #A78D8A;
    color: #FDF6F2;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #4D3A2C;
  }
  